<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhi" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/company_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".welcome.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 测试 -->
        <activity android:name=".activity.daily.TestActivity">
        </activity>
        <!-- 引导页 -->
        <activity android:name=".landing.ProductTourActivity">
        </activity>
        <!-- 主页 -->
        <activity android:name=".MainActivity">
        </activity>
        <!-- 我的二维码 -->
        <activity android:name=".activity.sliding.QR_Activity">
        </activity>
        <!-- 设置 -->
        <activity android:name=".activity.sliding.SettingActivity">
        </activity>
        <!-- 反馈 -->
        <activity android:name=".activity.sliding.FeedbackActivity">
        </activity>
        <!-- 账户详情 -->
        <activity android:name=".activity.sliding.AccountActivity">
        </activity>
        <!-- 通知公告 -->
        <activity android:name=".activity.sliding.NoticesActivity">
        </activity>
        <!-- 登录 -->
        <activity android:name=".activity.login.LoginActivity"
            android:theme="@style/AppTheme">
        </activity>
        <!-- 每日一报 -->
        <activity android:name=".activity.daily.EveryDayActivity"
            android:theme="@style/AppTheme">
        </activity>
        <!-- 签到记录 -->
        <activity android:name=".activity.daily.Sign_RecordActivity">
        </activity>
        <!-- 邮件管理 -->
        <activity android:name=".activity.daily.mail.MailActivity">
        </activity>
        <!-- 邮件详情 -->
        <activity android:name=".activity.daily.mail.MailDetailsActivity">
        </activity>
        <!--添加邮件-->
        <activity android:name=".activity.daily.mail.MailAddActivity" />
        <!-- 请假管理 -->
        <activity android:name=".activity.daily.leave.Leave_FragmentActivity">
        </activity>
        <!-- 我的请假 -->
        <activity android:name=".activity.daily.leave.Leave_My_Activity">
        </activity>
        <!--通知列表-->
        <activity android:name=".activity.daily.notice.NoticeActivity" />
        <!--通知详情-->
        <activity android:name=".activity.daily.notice.NoticeDetailActivity" />
        <!--添加日常项目-->
        <activity android:name=".activity.daily.AddDailyWork" />

        <!-- 项目管理 -->
        <activity android:name=".activity.manage.ProjectActivity">
        </activity>
        <!-- 创建新项目 -->
        <activity android:name=".activity.manage.project.Project_New_Activity">
        </activity>
        <!--任务管理-->
        <activity android:name=".activity.daily.task.Task_Fragment_Activity"
            android:theme="@style/AppTheme">

        </activity>
        <!--任务添加-->
        <activity android:name=".activity.daily.task.TaskAddActivity"
            android:theme="@style/AppTheme">
        </activity>
        <!--任务详情-->
        <activity android:name=".activity.daily.task.TaskDetailsActivity"/>
        <!--我添加的任务列表-->
        <activity android:name=".activity.daily.task.TaskMyAddList" />
        <!-- 选中照片 -->
        <activity android:name=".widget.PicSelectActivity"/>
        <!--明日计划-->
        <activity android:name=".activity.daily.TomorrowPlanActivity" />
        <!--每周计划-->
        <activity android:name=".activity.daily.WeeklyPlanActivity" />
        <!--加班管理-->
        <activity android:name=".activity.daily.extraWork.ExtraWorkManageActivity" />
        <!--日程管理-->
        <activity android:name=".activity.daily.timetableManage.TimetableManageActivity" />
    </application>

</manifest>
